@use '../abstracts';
@use '../base';

.button {
  @include base.font-serif();

  cursor: pointer;
  border: none;
  border-radius: 3rem;
  padding-block: 0.75em;
  padding-inline: 1.5em;
  text-transform: uppercase;
  background-color: unset;
  color: inherit;
}

.button--primary {
  background-color: abstracts.$color-neutral-00;
  color: abstracts.$color-neutral-04;

  &:hover {
    background-color: hsl(0, 0%, 100%, 0.3);
    color: abstracts.$color-neutral-00;
  }
}